
.container{
    min-height: 20vh;
    margin-top: 20px;
    overflow-x: hidden;
}

.containerPage{
    margin-top: 20px;
    overflow-x: hidden;
    text-align: center;
}

.container_colonne{
    margin-top: 20px;
    overflow-x: hidden;
    display:flex;
}

.container_dif{
    min-height: 20vh;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 20px;
    text-align: center;
    overflow-x: hidden;
}
.containerForm{
    min-height: 50vh;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 20px;
    overflow-x: hidden;
}

.espace{
    min-height: 20vh;
}

.espace2{
    min-height: 35vh;
}

.espace3{
    min-height: 15vh;
}

.card{
    min-height: 600px;
}

.card-header{
    min-height: 100px;
}

#block{
    width:100%;
    height:300px;
    position: relative;
    background-image:url("/images/annie-spratt-GWCvnsMtiBg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#block2{
    width:100%;
    height:200px;
    position: relative;
    background-image:url("/images/annie-spratt-GWCvnsMtiBg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


.starsimg{
    height: 300px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.starsimgaff{
    height: 300px;
    width: 200px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.annonce-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-title h1, .annonce-title p{
    color: white;
    text-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}


.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}

.rating i{
    color: goldenrod;
}

.img_edit{
    max-width: 200px;
    max-height: 200px;
}

.img_a{
    max-width: 200px;
    max-height: 200px;
}
@media(max-width: 990px){
    .starsimg{
        height: 400px;
        width: 300px;
    }

    .container_colonne{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        text-align: center;
        overflow-x: auto;
    }

    .containerForm{
        min-height: 83vh;
        margin-left: 70px;
        margin-right: 50px;
        margin-top: 20px;
        overflow-x: auto;
    }

    .container{
        min-height: 83vh;
        margin-top: 20px;
        overflow-x: auto;
    }
}